@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
     
        font-family: "Sriracha", cursive, sans-serif;
        font-weight: 400;
        font-style: normal;
        

}

header {
    background-color: black ;
    width: 100%;
    margin-top: -8px;
    margin-left: -8px;
    width: 100vw;
    display: table;
    
    
    

    
   
}

header > h1,h2{ 
    text-align: center;
    color: white;
    
}
    


